#Rectangle1{
   position: fixed;
   background-color: #97a5bc;
   height: 70px;
   width: 1140px;
   top: 0;
   left: 40px;
}

#Rectangle2{
   position: fixed;
   background-color: #f2f4f7;
   height: 440px;
   width: 1140px;
   top: 70px;
   left: 40px;
   text-align: center;
}

#header {
    position: fixed;
    background-color: #97a5bc;
    height: 70px;
    width: 1220px;
    top: 0;
    left: 0;
}

.Placeholder {
    position: absolute;
    background: #FFFFFF;
    color: #afafaf;
    height: 22px;
    width: 52px;
    top: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
    font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
    font-size: 16px;
    padding: 9px;
}

#hour {
    left: 40px;
}

#minute {
    left: 130px;
}

#second {
    left: 220px;
}

.label {
    position: absolute;
    color: #222222;
    height: 22px;
    width: 32px;
    top: 24px;
    font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin: 0px;
    text-align: right;
}

#hourlabel {
    left: 69px;
}

#minlabel {
    left: 159px;
}

#seclabel {
    left: 249px;
}

.button1 {
    position: absolute;
    background: #2188E9;
    color: #FFFFFF;
    height: 40px;
    width: 98px;
    top: 15px;
    line-height: 22px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
    font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
    font-size: 16px;
    padding: 9px;
    letter-spacing: 0px;
}

.button2 {
    position: absolute;
    background: #dd2e1d;
    color: #FFFFFF;
    height: 40px;
    width: 98px;
    top: 15px;
    line-height: 22px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
    font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
    font-size: 16px;
    padding: 9px;
    letter-spacing: 0px;
}

.button3 {
    position: absolute;
    background: #ffb020;
    color: #FFFFFF;
    height: 40px;
    width: 98px;
    top: 15px;
    line-height: 22px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
    font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
    font-size: 16px;
    padding: 9px;
    letter-spacing: 0px;
}

#countup {
    left: 310px;
}

#countdown {
    left: 428px;
}

#clear {
    display: none;
    left: 964px;
}

#restart {
    display: none;
    left: 1082px;
}

#resume {
    display: none;
    left: 227px;
}
#pause {
    display: none;
    left: 227px;
}

#timer {
    position: fixed;
    background-color: #f2f4f7;
    height: 440px;
    width: 1220px;
    top: 70px;
    left: 0;
}

#time {
    position: absolute;
    color: #333333;
    font-family: PTMono-Bold, "PT Mono", monospace;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    letter-spacing: 0;
    margin: 127px 90px 113px 91px;
}

#hint {
    position: absolute;
    color: #FFFFFF;
    display: none;
    height: 22px;
    width: 167px;
    top: 24px;
    left: 40px;
    font-family: PTMono-Regular, "PT Mono", PingFangSC-Regular, "PingFang SC", sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
